.idea/
.vscode/
.vs/
bin/
cmake-build-debug/
cmake-build-release/
.env
.DS_Store
.cache/
*.log
*.obj
*.dll
CMakeCache.txt
*.lnk
out/
CMakeSettings.json
build/
*.keep
*.jpeg
*.png
*.jpg
imgui/
*.ini
*.out
*.zip
*.tar.gz
vcpkg.json
vcpkg-configuration.json
vcpkg_installed/
